{% extends "base.html" %}

{% block stylesheet %}

    {% assets "applications_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}

{% endblock stylesheet %}

{% block content %}

    <!-- change name of this div later on -->
    <div id ="firstdiv" class = "container light">
        <div class = "row">
            <p>THIS IS APPLICATIONS PAGE</p>
        </div>
    </div>


{% endblock content %}
   
{% block scripts %}

{% assets "applications_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>  
{% endassets %}

{% endblock scripts %}