{% block footer %}

<div id = "footer" class="container dark">
    <div class = "row">
        <div class = "col-3">
            <img src = "../../static/img/index/logo.png" class="img-fluid" width="50%" alt="Solaires Logo">
            <p class = "body1"> Stay up to date with the latest from Solaires:</p>
            <!-- Email address form -->
            <input type="text" id="email_subscription_2" name="EMAIL" type="email" placeholder="Your Email"></input>
            <button type="button" class="btn btn-dark">Contact Us</button>
        </div>
        <div class = "col-3">
            <h1>LINKS</h1>
            <ul>
                <li> <a href="#">About Us</a></li>
                <li> <a href="#">Technology</a></li>
                <li> <a href="#">Applications</a></li>
                <li> <a href="#">Our Blog</a></li>
                <li> <a href="#">Join Us</a></li>
                <li> <a href="#">Contact Us</a></li>
            </ul>
        </div>
        <div class = "col-3">
            <h1>CONTACT</h1>
            <ul>
                <li> <a href="#"><i class="fas fa-globe"></i> solar-ventures.com</a></li>
                <li> <a href="mailto:contact@solar-ventures.com"><i class="fas fa-envelope"></i> contact@solar-ventures.com</a></li>
                <li> <a href="#"><i class="fas fa-phone"></i> +1 (888) 464-2532</a></li>
            </ul>
            <hr>
            <!-- <a href="#"><i class="fas fa-phone"></i>+1 (888) 464-2532</a> -->
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <div class = "col-3">
            <h1>LOCATION</h1>
            <p>300-1095 Mackenzie Ave <Br>
            Victoria, BC
            V8P 2L5, CA
            </p>
            <img src = "../../static/img/index/mock_map.png" class="img-fluid" width="100%" alt="Location">
        </div>
    </div>
    <div id = "copyright" class ="row">
        <h1>Copyright (C) Solaires Enterprises Inc. | All Rights Reserved</h1>
    </div>
</div>    

{% endblock footer %}