{% block footer %}

<div id = "footer" class="container dark"> <!-- for some reason this is not working -->
    <div class = "row">
        <div class = "col-3">
            <img src = "../../static/img/index/logo.png" class="img-fluid" width="50%" alt="Solaires Logo">
            <p class = "body1"> Stay up to date with the latest from Solaires:</p>
            <!-- Email address form -->
            <!-- <input type="text" id="email_subscription_2" name="EMAIL" type="email" placeholder="Your Email"></input>
            <button type="button" class="btn btn-dark">Contact Us</button> -->


            <!-- MAILCHIMP SIGN UP FORM !-->
            <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
    
            <div id="newsletter_signup_footer">

                <form action="https://solaires.us7.list-manage.com/subscribe/post?u=a255e14d3b069c2181da8761a&amp;id=5252a4efcc" 
                method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

                <div id="mc_embed_signup_scroll">

                    <div class="mc-field-group">
                        <input type="email" placeholder ="Your email" value="" name="FOOTER_EMAIL" class="required email mt-3 mb-3" id="mce-EMAIL" size="32">
                    </div>

                    <div id="mce-responses" class="clear">
                        <div class="response" id="mce-error-response" style="display:none"></div>
                        <div class="response" id="mce-success-response" style="display:none"></div>
                    </div>   

                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_a255e14d3b069c2181da8761a_5252a4efcc" tabindex="-1" value=""></div>

                    
                    <button type="submit" class="btn btn-dark mt-3 mb-3">Contact Us</button>

                </div>

                </form>
            </div>

            <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
            <script type='text/javascript'>
                (function($) {
                    window.fnames = new Array(); 
                    window.ftypes = new Array();
                    fnames[0]='FOOTER_EMAIL';
                    ftypes[0]='email';
                    }(jQuery));
                    var $mcj = jQuery.noConflict(true);
            </script>
            <!-- MAILCHIMP SIGN UP FORM !-->



        </div>
        <div class = "col-3">
            <h1>LINKS</h1>
            <ul>
                <li> <a href="#">About Us</a></li>
                <li> <a href="#">Technology</a></li>
                <li> <a href="#">Applications</a></li>
                <li> <a href="#">Our Blog</a></li>
                <li> <a href="#">Join Us</a></li>
                <li> <a href="#">Contact Us</a></li>
            </ul>
        </div>
        <div class = "col-3">
            <h1>CONTACT</h1>
            <ul>
                <li> <a href="#"><i class="fas fa-globe"></i> solar-ventures.com</a></li>
                <li> <a href="mailto:contact@solar-ventures.com"><i class="fas fa-envelope"></i> contact@solar-ventures.com</a></li>
                <li> <a href="#"><i class="fas fa-phone"></i> +1 (888) 464-2532</a></li>
            </ul>
            <hr>
            <!-- <a href="#"><i class="fas fa-phone"></i>+1 (888) 464-2532</a> -->
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <div class = "col-3">
            <h1>LOCATION</h1>
            <p>300-1095 Mackenzie Ave <Br>
            Victoria, BC
            V8P 2L5, CA
            </p>
            <img src = "../../static/img/index/mock_map.png" class="img-fluid" width="100%" alt="Location">
        </div>
    </div>
    <div id = "copyright" class ="row">
        <h1>Copyright (C) Solaires Enterprises Inc. | All Rights Reserved</h1>
    </div>
</div>    

{% endblock footer %}