{% block header %}


<!-- <div class ="container col-12"> -->
<!-- <div class="container"> -->

    <div id = "search_bar" class = "row">

        <div class = "col-9">
            <a href=#><a href="#"><i class="fab fa-linkedin-in"></i></a>
            <a href=#><a href="#"><i class="fas fa-envelope"></i></a>
            <p> Solaires Enterprises Inc.</p>
        </div>
        <div class ="col-3">
            <p> __search___bar____ </p> <!--need to float / justify to the right side-->
            <a href="#"><i class="fas fa-search"></i></a>
        </div>

    </div>

    <div  id = "header_navbar" class ="row">
        <div>
            <a href="#">ABOUT</a>
            <a href="#">TECHNOLOGY</a>
            <a href="#">APPLICATIONS</a>
            <img src = "../../static/img/index/logo.png" class="img-fluid" height="7%" width="7% alt="Solaires Logo">
            <a href="#">OUR BLOG</a>
            <a href="#">JOIN US</a>
            <a href="#">CONTACT US</a>
        </div>
    </div>

<!-- </div> -->
<!-- </div> -->

{% endblock header %}