/*

-------------------------------------HEADER-----------------------------------

*/

#header_navbar
{
    align-content: center;
    text-align: center;
    background-color: #fff;
}

#header_navbar a
{
    color:#1F3040;
    font-family: Arial;
    /* font-weight: bold; */
    /* font-kerning: -0.5; */
    font-size: 12pt;
    text-decoration: none;
    padding-left:30px; 
    padding-right:30px; 
    height : 100px; /*is there a better way ? */
}

#search_bar 
{
    background-color: #FFC547;
}

#search_bar p
{
    display: inline;
    color:#fff;
    font-family: Arial;
    font-weight: Bold;
    font-size: 14pt;
}

#search_bar i 
{
    color:#fff;
}


/*

------------------------------------FOOTER----------------------------------

*/

#footer
{
    background-color: #124F88;
    align-content: center;
    /* text-align: center; */
    padding-top: 50px;
    /* padding-bottom: 50px;  */
}

#copyright
{
    align-content: center;
    text-align: center;
    background-color: #FFC547;
    /* padding-top: 50px; */
    /* padding-bottom: 100px; */
}


#newsletter-signup-footer{
    margin-top: 10px;
    opacity: 0;
    align-content: center;
    margin-bottom: 50px;
    padding-left: 70px;
    padding-right: 70px;
}
