
/*will this affect anything  ? */ 
h1{
    text-decoration: underline;
    color : aqua;
}

/* a:hover {
    text-decoration: none;
} */

/* #banner-image {
    color: white;
    max-width: 100%;
    background-image: url("/static/img/Ergo-updated-bannerimg.jpg");
    position: relative;
    z-index: 25;
} */

/* 
.parrallax {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-orange {
    padding: 15px 30px;
}

#title-container {
    margin-top: 18vh; 
    margin-bottom: auto;
} */