{% extends "base.html" %}

{% block stylesheet %}

    {% assets "index_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}

    <!-- <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}"> -->
    <!-- <link rel="stylesheet" href="../../static/css/index.css"> -->

{% endblock stylesheet %}

{% block content %}

    <!-- <h1>AFFECTED</h1>
    <a href='#'>GOOGLE</a>
    <img src="../../static/img/Ergo-updated-bannerimg.jpg" class="img-fluid" alt="Smart Sit-And-Stand Desk and Smart Under-The-Desk Bike"> -->

    <!--hmm bootstrap container doesn't work here -->
    <div id = "solaires_splash" class="light">

        <img src="../../static/img/index/logoAndName.png" class="img-fluid" alt="Solaires Logo and Name">

        <h2>INNOVATIVE SOLAR CELL TECHNOLOGY</h2>

        <h4>We are in business for a cleaner world</h4>

        <!-- form will probably go here, its more complicated though, so we may skip it for now -->

        <h3>INTERESTED IN PRODUCT AVAILABILITY ?</h3>
        <!-- some form input , type text ? -->
        <!-- some form button , type submit ? (will require styling with rounded corners) -->

        <h4>Subscribe to stay updated on our solar cell technology.</h4>

        <!-- some fontawesome icon to show an arrow pointing down -->
        <!-- ignoring chatbot -->

    </div>

    <!-- how do bootstrap columns work again ? -->
    <div id = "solaires_mission" class = "container col-8 light">
        <h1 class="title">We Are Solaires</h1>
        <!--<hr> horizontal line ? -->
        <p>Solaires consists of a diverse team of scientists, engineers, marketers and clean energy <br>
            enthusiasts united for one common goal: develop the next generation of solar cells.</p>
        
        <p class="bolded"> OUR VISION :</p>

        <p>Our vision is to develop novel and cost-effective technology solutions that address <br>
            specific and compellin market gaps in solar energy harvesting.</p>

        <p class="bolded"> OUR MISSION :</p>

        <p>Our mission is to make solar energy more accessible by developing the next generation <br>
            of solar cells to help save the world.</p>

        <p class="bolded"> OUR CORE VALUES :</p>

        <p> <b class = "smallbolded">Respectful:</b> We are respectful to ourselves, to our members, and to our planet.
            <br>
            <b class = "smallbolded">Responsible:</b> We are responsible for the proper treatment of our colleagues and our environment.
            <br>
            <b class = "smallbolded">Respectful:</b> We are creative, the day we stop being creative we become stagnant.
        </p>

        <!--<hr> horizontal line ? -->

        <button type="button" class="btn btn-yellow-rounded">Join Our Team</button>

    </div>

    <div id = "team_slider" class="container light">
        <div class="row">
            <div id = "left" class="col-5">
                <p class = "smallbolded">Meet our perovskite solar cell</p>
                <h1>EXPERTS:</h1>
                <p class ="bolded">. . .</p> <!-- may need this graphic asset, or make a new style-->
                <!-- may need to get good quality images for everyone -->
                <img src = "../../static/img/index/fabian_screenshot.jpg">
            </div>
            <div id ="middle" class = "col-1">|</div> <!--need vertical separator image ...?-->
            <div id = "right" class="col-6">
                <!-- will need to implement this selector thingy !!!-->
                <p>. . . . < ></p>
                <p class = "smallbolded">Alfonso Fabian De La Fuente</p>
                <h4>CEO</h4>

                <!-- i think there's a css text wrap thing we could use for this ? -->
                <p>Fabian is a serial entrepeneur, a self-made inventor,<Br>
                    investor, and researcher. He has a 33-year history <Br>
                    of successfully leading challenging technology<br>
                    endeavors. He has launched over a dozen <Br>
                    leading technology products worldwide. He's the <Br>
                    named inventor in over 75 patents. He has led <br>
                    research and manufacturing teams in 4 <Br>
                    continents. He has a BSc. in International Trade.
                </p>

                <!--ICON from Fontawesome -->
                <p><b>fabian@solaires.net</b></p> <!--may need to bold this somehow-->

            </div>
        </div>
    </div>

    <div id = "partnerships_slider" class = "containter light">
        <div class = "row">

            <div class = "col-6">
                left
            </div>

            <div class = "col-1">
                |
            </div>

            <div class = "col-5">
                right
            </div>

        </div>
    </div>


{% endblock content %}
   
{% block scripts %}

{% assets "index_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>  
{% endassets %}
<!-- <script type="text/javascript" src="{{url_for('static', filename='js/index.js')}}"></script> -->
<!-- <script type="text/javascript" src="../../static/js/index.js"></script> -->

<!-- <script>
    alert("Template inheritance is awesome");
</script> -->

{% endblock scripts %}