{% extends "base.html" %}

{% block stylesheet %}

    {% assets "index_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}

    <!-- <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}"> -->
    <!-- <link rel="stylesheet" href="../../static/css/index.css"> -->

{% endblock stylesheet %}

{% block content %}

    <!-- <h1>AFFECTED</h1>
    <a href='#'>GOOGLE</a>
    <img src="../../static/img/Ergo-updated-bannerimg.jpg" class="img-fluid" alt="Smart Sit-And-Stand Desk and Smart Under-The-Desk Bike"> -->

    <div id = "solaires_splash" class="light">

        <img src="../../static/img/index/logoAndName.png" class="img-fluid" alt="Solaires Logo and Name">

        <h2>INNOVATIVE SOLAR CELL TECHNOLOGY</h2>

        <p class="body1">We are in business for a cleaner world</p>

        <!-- form will probably go here, its more complicated though, so we may skip it for now -->

        <h3>INTERESTED IN PRODUCT AVAILABILITY ?</h3>
        <!-- some form input , type text ? -->
        <!-- some form button , type submit ? (will require styling with rounded corners) -->

        <p class="body2">Subscribe to stay updated on our solar cell technology.</p>

        <!-- some fontawesome icon to show an arrow pointing down -->
        <!-- ignoring chatbot -->

    </div>


{% endblock content %}
   
{% block scripts %}

{% assets "index_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>  
{% endassets %}
<!-- <script type="text/javascript" src="{{url_for('static', filename='js/index.js')}}"></script> -->
<!-- <script type="text/javascript" src="../../static/js/index.js"></script> -->

<!-- <script>
    alert("Template inheritance is awesome");
</script> -->

{% endblock scripts %}