{% extends "base.html" %}

{% block stylesheet %}

    {% assets "index_css"%}
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}

{% endblock stylesheet %}

{% block content %}
    <!-- <p>I will be testing that we can get a bg image with text / a form on top here</p> -->

    <a href='#'>GOOGLE</a>
    <img src="../../static/img/Ergo-updated-bannerimg.jpg" class="img-fluid" alt="Smart Sit-And-Stand Desk and Smart Under-The-Desk Bike">

    <!-- <div class="d-none d-md-block"> -->
        <!-- <div class="jumbotron jumbotron-fluid parrallax" id='banner-image'> -->
            <!-- <div class="container" id="title-container">
                <div id="title-text">
                    <h1 id="title-sit" class="display-2 row justify-content-center">SIT</h1>
                    <h1 id="title-stand" class="row justify-content-center display-2" style="color: orange">STAND</h1>
                    <h1 id="title-move" class="row justify-content-center display-2" style="color: black">MOVE</h1>
                <div class="row">
                    <div id="newsletter-signup" class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 d-none d-lg-block"> 
                        <div class="news-back">
                            <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">

                            <form
                            action="https://ergonomyx.us20.list-manage.com/subscribe/post?u=8e1c278b881baf72a8c397be7&amp;id=425ec93b35"
                            method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                            class="bike-form validate" target="_blank" novalidate id='footer-form' name='emailfooterForm'
                            style='margin-top:2px'>
                
                                <div id="mce-responses" class="clear">
                                    <div class="alert alert-warning" id="mce-error-response"
                                        style="display:none; text-align:center;"></div>
                                    <div class="alert alert-success" id="mce-success-response"
                                        style="display:none; text-align:center;"></div>
                                </div>
                
                                <div class="d-none" aria-hidden="true">
                                    <input type="text" name="b_8e1c278b881baf72a8c397be7_425ec93b35" tabindex="-1" value="">
                                </div>
                
                                <div class="row">
                                    <div class="col-12 pb-3">
                                        <div class="text-center">
                                            <input name="EMAIL" type="email" class="email-input form-control" size="32"
                                                placeholder="Enter your email" autocomplete="on" required>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button style="border-radius: 5px;" type="submit"
                                        class="btn btn-block btn-orange submit-bike">
                                            <span>Subscribe</span>
                                        </button>
                                    </div>
                                </div>
                                <br />
                            </form>

                            <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'>
                            </script>
                            <script type='text/javascript'>
                                (function ($) {
                                    window.fnames = new Array();
                                    window.ftypes = new Array();
                                    fnames[0] = 'EMAIL';
                                    ftypes[0] = 'email';
                                }(jQuery));
                                var $mcj = jQuery.noConflict(true);
                            </script>
                            <p class='text-center' style="font-size: 8pt !important; color: white">
                                Subscribe to our newsletter to stay updated on our 
                                Workspace Fitness® devices. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="title-arrow-action" class="row justify-content-center"></div>  -->
        </div>
    </div>

{% endblock content %}
   
{% block scripts %}

{% assets "index_js" %}
    <script src="{{ ASSET_URL }}"></script>  
    <!-- API_URL='{{ API_ROUTE }}' user_id="{{ current_user.id }}" footer='{{ footer }}'></script> -->
{% endassets %}

{% endblock scripts %}